<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ピアノ曲レコメンダー{% endblock %}</title>
    
    <!-- 正しいCSSリンク -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="background-animation">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    
    
    <div class="piano-background">
        <header>
            <h1 class="piano-text">マイレコメロディー</h1>
            <div class="line"></div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <footer>
        <p>&copy; 2024 Piano Recommendation App</p>
    </footer>
</body>
</html>
